body{
  background-color: #374f43;
  margin: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #daccc4;
}

#title{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #d1801e;
}

h2{
  font-size: 25px;
  color: #edbd95; /* morado claro */
}

button{
  background-color: #aa8552;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.destacado{
  color: #aa8552;
}

.campo-formulario{
  margin: 12px;
}