body{
  background-color: #374f43;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #daccc4;
}

#title{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #d1801e;
}

h2{
  font-size: 25px;
  color: #edbd95; /* morado claro */
}

button{
  background-color: #aa8552;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.destacado{
  color: #aa8552;
}

.campo-formulario{
  /* margin: 12px; */
  padding: 20px;
}

table{
  border: 1px solid #d1801e;
  border-collapse: collapse;
}

th, td{
  padding: 0px 15px 5px 15px;
  border: 1px solid #d1801e;
}

th{
  background-color: #d1801e;
}

span{
  display: inline-block;
  background-color: #aa8552;
  color: white;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 11px;
}

.tarjeta{
  padding: 10px;
  border: 3px solid floralwhite;
  border-radius: 8px;
}